html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")    
		link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')		
		script(type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript',src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')		

		style(type="text/css"): include ranking.css

	body		
		div.page-title 
			h1 #{pageTitle}
		table						
			tbody
				for link in ranking
					tr.item 
						td.upvote 
							a(href="/submit") +
						td.usage-count #{link.usage_count}
						td.link-id #{link.link_id}
					tr.created
						td.empty
						td.empty
						td.submitted Submitted on #{link.creation_date}
