html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")    
		link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')		
		script(type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript',src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')		
		style(type="text/css"): include ranking.css
		style(type="text/css"): include all.css

	body		

		-function timeConverter(UNIX_timestamp) {
			-console.log(UNIX_timestamp);
			-var a = new Date(parseInt(UNIX_timestamp) * 1000);
			-console.log(a);
			-var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
			-var year = a.getFullYear();
			-var month = months[a.getMonth()];
			-var date = a.getDate();
			-var hour = ('0' + a.getHours()).slice(-2);
			-var min = ('0' + a.getMinutes()).slice(-2);
			-var sec = ('0' + a.getSeconds()).slice(-2);
			-var time = month + ' ' + date + ', ' + year + ' ' + hour + ':' + min + ':' + sec ;
			-return time;
		-}

		p You are logged in as #{user}
		div.page-title 
			h3 #{pageTitle}
			h5 #{pageDescription}
			a(href="/user/#{user}/top") top 
			&nbsp;
			a(href="/user/#{user}/new") new 
			&nbsp;
			a(href="/user/#{user}/trending") trending 
			&nbsp;			
			a(href="/user/#{user}/submit") submit 
			&nbsp;

		form.filter(id="filterForm" method="get" action="/user/#{user}/#{currPage}")
			label
				h5 Filter by tag: &nbsp;
			input(type="text" name="tag" id="tagInput" placeholder="tag")
			input.filterButton(type='submit' value='Filter!')

		table.ranking						
			tbody
				for link in ranking
					tr.item 
						td.upvote 
							form(id="#{link.creation_date}" class="upvote-form" method="post" action="/user/#{user}/upvote")
								input(type="hidden" name="currPage" value="#{currPage}")
								input(type="hidden" name="link" value="#{link.link_id}")
								a(href='javascript:{}' onclick="document.getElementById('#{link.creation_date}').submit();") ▲
						td.usage-count #{link.usage_count}
						td.link-id 
							a(href="#{link.link_id}") #{link.link_id}
					tr.created
						td.empty
						td.empty
						td.submitted 
							h6 Submitted on #{timeConverter(link.creation_date)}
