html
	head
		meta(charset="utf-8")
		meta(name="viewport",content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no")
		meta(http-equiv="X-UA-Compatible",content="IE=edge")    
		link(rel='stylesheet',href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css')
		link(rel='stylesheet',href='stylesheets/notes.css')
		script(type='text/javascript',src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js')
		script(type='text/javascript',src='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')

	body

		p You are logged in as #{user}

		div.page-title 
			h3 #{pageTitle}
			h5 #{pageDescription}
			a(href="/top") top 
			&nbsp;
			a(href="/new") new 
			&nbsp;
			a(href="/trending") trending 
			&nbsp;			
			a(href="/submit") submit 
			&nbsp;

		form.submitLinkForm(method='post' action='/user/#{user}/submitPost')
			div.link
				label.linkLabel Link: 
				input(type='text' name='link')
			p
			div.tag
				label.linkTag Category: 
				input(type='text' name='tags')
			p
			div.submit
				input.submitButton(type='submit' value='Submit')		